{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "stand.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  
   <nav class="navbar navbar-inverse navbar-static-top">
       <div class="container">
           <div class="navbar-header">
               <a class="navbar-brand" href="#">Resursoved</a>
           </div>
        </div>
  </nav>


   <div  class="panel panel-info">
       <div class="panel-body">
            <div class="col-md-6" >
               <form class="form form-horizontal" action="" method="post" name="similars">
                   {{order_form.hidden_tag()}}
                   <p>
                        <h3>Enter your sub tasks urls:</h3>
                        {{ order_form.sub_tasks_urls(size=60) }}<br>
                   </p>
                   <p>
                        <h3>Number of processors:</h3>
                        {{ order_form.processors_count }}
                   </p>
                   <p>
                        <h3>Time duration:</h3>
                        {{ order_form.time_durability }}<br>
                   </p>
                   <p><input type="submit" class="btn btn-primary" value="SEND!"></p>
               </form>

              <div class="col-md-6" >
                {% if order_id %}
                    <p>
                      <h3> Success! Your order id is  </h3>
                      <h3> {{ order_id }} </h3>
                    </p>
                  
                {% endif %}
              </div>

            </div>
            
            <div class="col-md-6" >
               <form class="form form-horizontal" action="" method="post" name="similars">
                   {{result_form.hidden_tag()}}
                   <p>
                        <h3>Insert order id to get result:</h3>
                        {{ result_form.order_id(size=60) }}<br>
                   </p>
                   <p><input type="submit" class="btn btn-primary" value="GET!"></p>
               </form>

              <div class="col-md-6" >
                {% if task_status %}
                    <p>
                      <h3> INFO for that task:  </h3>
                      <h3> Status: {{ task_status }} </h3>
                      <h3> Result: {{ task_result }} </h3>
                    </p>
                  
                {% endif %}
              </div>

            </div>

           
       </div>
    </div>
  




{%- endblock %}